body {
    background-color: lightblue;
}

header {
    background-color: rgb(149, 218, 241);
    text-align: center;
    font-family: luckiest guy;
    font-size: 8rem;
    color: black;
    margin: 20 px;
    padding: 50px;
    color: aliceblue;
    text-shadow: 10px 10px black;
}

div {
    background-color: lightblue;
}

h1 {
color: aliceblue;
font-family: 'Amatic SC', cursive;;
    font-size: 5rem;
    text-align: center;
    padding-top: 40px;
    text-shadow: 3px 3px black;
}
h2 {
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}
img {
   display: block;
    height: 350px;
   margin: auto;
    padding-top: 30px;
    
}
p {
    font-family: 'Amatic SC', cursive;;
    font-size: 40px;
    color: aliceblue;
    line-height: 50px;
    text-align: center;
    text-decoration: wavy;
    padding: 0px 100px 0px 100px;   
}

#connor {
    height: 250px;
    width: 300px;
    padding: 30px;
    }

hr {
    width: 70%;
}

footer, h3 {
    background-color: rgb(149, 218, 241);
    font-size: 3rem;
    text-align: center;
    font-family: luckiest guy;
    padding: 30px;
}
