body {
    background-color: white;
}

header {
    background-color: lightblue;
    text-align: center;
    font-family: luckiest guy;
    font-size: 7rem;
    color: black;
    margin: 15px;
    padding: 30px;
    color: aliceblue;
    text-shadow: 10px 10px black;
}

div {
    background-color: lightblue;
}

h1 {
color: aliceblue;
font-family: 'Amatic SC', cursive;;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 40px;
    text-shadow: 3px 3px black;
}
h2 {
    font-size: 2.5rem;
    font-family: 'Amatic SC', cursive;
    text-align: center;
   
}
img {
   display: block;
    height: 250px;
    margin: auto;
    padding-top: 30px;
    
}
p {
    font-family: 'Amatic SC', cursive;;
    font-size: 30px;
    color: aliceblue;
    line-height: 50px;
    text-align: center;
    padding: 20px 80px 20px 80px;   
}

#connor {
    height: 250px;
    width: 300px;
    padding: 30px;
    }

hr {
    width: 70%;
}
